*{
margin: 0;
padding: 0;
}
/*body{
 width: 100%;
 padding: 10px;
}*/
.top{
    width: 600px;
    margin: auto;
}
.col-1{
    width: 70px;
    margin: auto;
}
.col-2{
    width: 70px;
    margin: auto;
}
.col-3{
    width: 70px;
    margin: auto;
}