@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  font-size: medium;
  color: #333;
  background: #fff;
}
#page {
  margin: 0 auto;
  width: 900px;
}
nav li. nav a {
  display: block;
}
nav li {
    float: left;
}
nav ul {
    overflow: hidden;
    padding: 0;
    border: 1px solid #ddd;
    line-height: 1.0;
    }
nav li, nav  {
    display: block;
    height : 40px;
}
nav li {
    float: left;
    border-right: 1px solid #ddd;
    text-align: center;
}
nav a {
    padding: 25px 25px;
    text-decoration: none;
    margin-bottom; 30px;
    color: #757d75;
    border-radius: 0;
    font-weight: bolder;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: medium;
}

main {
float: left;
width: 495px;
height: 371.25px;
}

a:hover {
    color: brown;
}

#sub aside{
 float: right;
 width: 400px;
 height: 370px;
}
footer {    
    
    width: 295px;
    height: 295px;
}

